<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="FILE_METRIC" class="org.apache.log4j.rolling.RollingFileAppender">
	
		<param name="Append" value="true" />

		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"
				value="/home/raghunandangupta/Desktop/CSV/ALLCSV/server.%d-%i.gz" />
			<param name="ActiveFileName"
				value="/home/raghunandangupta/Desktop/CSV/ALLCSV/server.log" />
		</rollingPolicy>

		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="MaxFileSize" value="1073741824" />
		</triggeringPolicy>

		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern"
				value="[%p] %d  %x %c %M - %m%n" />
		</layout>
	</appender>
	
	<appender name="FILE_ERROR" class="org.apache.log4j.rolling.RollingFileAppender">
	
		<param name="Append" value="true" />

		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"
				value="/home/raghunandangupta/Desktop/CSV/ALLCSV/exceptions.%d-%i.gz" />
			<param name="ActiveFileName"
				value="/home/raghunandangupta/Desktop/CSV/ALLCSV/exceptions.log" />
		</rollingPolicy>

		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="MaxFileSize" value="1073741824" />
		</triggeringPolicy>

		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern"
				value="[%p] %d  %x %c %M - %m%n" />
		</layout>
	</appender>

	<logger name="debug_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE_METRIC" />
	</logger>
	
	<logger name="error_log" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="FILE_ERROR" />
	</logger>
	
</log4j:configuration>

